@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.footer {
  display: flex;
  flex-direction: column;
}

.container {
  flex-direction: row;
  justify-content: space-between !important;
  padding: 32px 72px !important;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(221, 221, 221, 1);
  padding: 16px 72px;
}

.bottom p {
  font-size: 12px;
  font-weight: 700;
  color: rgba(114, 114, 114, 1);
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: pointer;
  margin: 0;
}

.h1 {
  color: rgba(114, 114, 114, 1);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.p {
  color: rgba(114, 114, 114, 1);
  font-weight: 700;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
