@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* Mobile first */

.section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 4px;
  margin: 1rem 2.5rem 1rem 2.5rem;
}

.section h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0.2rem;
}

.category {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: start;
}

.description {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 30px;
  margin: 0;
  text-align: left;
}

/* Tablet and desktop */

@media (min-width: 768px) {
  .section {
    align-items: flex-start;
    border-radius: 10px;
    margin: 2rem 3rem 2rem 3rem;
  }

  .section h1 {
    font-size: 2rem;
  }

  .title {
    font-size: 2rem;
    margin: 0rem;
  }

  .category {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }

  /* Desktop */

  @media (min-width: 1024px) {
    .section {
      margin: 3rem;
      align-items: flex-start;
      border-radius: 15px;
      margin: 3rem 3.5rem 3rem 3.5rem;
    }

    .section h1 {
      font-size: 3.5rem;
    }

    .title {
      font-size: 3.5rem;
    }

    .category {
      font-size: 1rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }
}