/* Estilo base para dispositivos móveis (Mobile First) */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #5A9E8C;
    color: #5A9E8C;
  }
  
  .cardTitle {
    color: #198754;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .card h6 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .card-content {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .card-content.expanded {
    max-height: 1000px; /* Valor suficiente para acomodar todo o conteúdo expandido */
  }
  
  .cardDescription {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .cardDescription.expanded {
    display: block;
  }
  
  .detailsContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }

  ul li svg{
    font-size: 0.8rem;
  }
  
  .detailsContainer li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .detailsContainer li svg {
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .actions button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 1px solid #5A9E8C;
    border-radius: 3rem;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  .actions button:hover {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    filter: brightness(0.8);
  }
  
  .actions a button {
    background-color: #5A9E8C;
    color: #fff;
  }
  
  .actions a button:hover {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    filter: brightness(0.8);
  }

  ul p {
    text-align: left;
  }

  ul {
    margin: 1rem 0;
  }

  ol, ul {
    padding-left: 1rem !important;
  }

  .buttonCard{
    width: 100%;
  }
  
  li {
    display: flex;
    gap: 10px;
  }

  /* Estilo para tablets */
  @media (min-width: 768px) {
    .card {
      padding: 1.5rem;
    }
  
    .card-title {
      font-size: 1.4rem;
    }
  
    .actions {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .actions button {
      width: auto;
    }
  }
  
  /* Estilo para desktops */
  @media (min-width: 1024px) {
    .card {
      padding: 2rem;
    }
  
    .card-title {
      font-size: 1.6rem;
    }
  
    .card-description {
      font-size: 1rem;
    }
  
    .actions {
      gap: 2rem;
    }
  
    .actions button {
      font-size: 0.9rem;
      padding: 0.75rem 1.5rem;
    }
  }
  